/*a { 
	color: white; 
	text-decoration: none;
}

h1 {
	font-family: sans-serif;

}*/

/*body {
    background-color: #d3d3d3
 }

div {
	width: 500px;
	margin:auto;
}

.quotes p {
	text-align: center;
	border: solid;
	border-color: white;
	padding: 15px;	
}

*/
/*body {
	background-color: #e3e3e3;
	font-family: sans-serif;
	
}
*/

/*blockquote {
	border: 1px solid white;
	text-align: center;
	margin-left: 0;
}*/

/*.wrap {
	min-width: 600px;
	width: 80%;
	margin: auto;
	background-color: green;
	overflow: hidden;
}

.content, aside {
	height: 600px;
}

.content {
	background-color: red;
	float: left;
	width: 80%;
}

aside {
	background-color: brown;
	float: left;
	width: 20%;
}

aside ul {
	list-style: none;
	padding-left: 0;
}*/

/*body {
  font-family: sans-serif;
}

li {
  padding-right: 10px;
	display:inline;
}

ul a{ 
  text-decoration: none;
  color:#666;
}

ul a:hover {
  text-decoration: underline;
  color:black;
}*/

/*label {
  display: block;
  cursor: pointer;
  color: #292929;
  font-family: sans-serif;
  padding-bottom: 8px;
}


form li {
  list-style: none;
  margin-bottom: 20px;
}

form ul {
  padding-left: 0px;
}

textarea {
  width: 400px;
  height: 400px;
}
*/
/*
h1 {
  background: url(../img/generic_logo.jpg) no-repeat;
  text-indent: -9999px;
  width: 574px;
  height: 322px;
}


*/

/*body {
  background-color: #666;
}

h1 {
  font-size: 120px;
  text-align: center;
  margin-top: 50px;
  font-family: 'Pathway Gothic One', sans-serif;  
  letter-spacing: -2px;
  color: black;
  text-transform: lowercase;
  text-shadow: 0 1px 0 white;
  font-variant: small-caps;
}


*/

/*body {
  margin: 0;
}

.wrap {
  width: 800px;
  height: 1000px;
  position: relative;
  margin: auto;
  background-color: #e3e3e3;
  top: 50px;
}

.box {
  width: 70px;
  height: 70px;  
  margin: auto;
  background-color: red;
  position: absolute;
  left: -35px; top: 30px;
}
*/

/*.wrap {
  width: 800px;
  height: 525px;
  position: relative;
  margin:auto;
}

.article_image {
  position: absolute;
  float:left;
}

p , h1 .post_info {
  float:right;
  margin-left: 225px;
  background-color: red;
}*/

/*
body {
  width: 600px;
  margin: 20px auto;
  font-family: sans-serif;
}

h2 {
  font-size: 37px;
  line-height: 43px ;
  letter-spacing: -1px;
}

p {
  font-size: 14px;
  line-height: 21px;
}

a {
  color: #276056;
  font-size: 14px;
}

body a:hover {
  color:black;
}

article h2 {
  margin-top: 0;
  margin-bottom: 0;
}

article img {
  float: left;
  margin-right: 30px;
}

article .continue {
  float:right;
}

.continue:after {
  content: ")"
}

.continue:before {
  content: "("
}

.meta {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 8px;
}

.meta a, .post_info a{
  font-style: italic;
  font-size: 14px;
  text-decoration: none;
}

.mweta li:after {
  content: "\\";
  padding: 0 2px;
  color: #999;
}

.meta li:last-child:after {
  content: none;
}

.meta li {
  display: inline;
}

.preview {
  float: right;
  width:370px;
}

.post_info {
  background-color: #f3f3f3;
  color: #999;
  padding: 3px;
  float: left;
  font-size: 14px;
}
      
.post_info a {
  color: #999;
  text-decoration: none;
}

.body {
  clear:both;
  color: #575757;
  }*/

.container_12 {
  background: red;
}

nav li {
  display: inline;
  margin-left: 0;
  margin-right: 3px;
}

aside {
  background: green;
}

.primary {
  background: #e3e3e3;
}

header {
  background-color: yellow;
}

.main {
  margin: 30px 0;
}

nav {
  background: orange;
}

section {
  box-sizing: border-box;
  padding: 15px;
}





































